.page-container{
  width: calc(100vw - 300px);
  margin: 0 auto 0;
}

@media (max-width: 1024px) {
  .page-container{
    width: calc(100vw - 100px);
    margin: 0 auto 0;
  }
}

.page-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
