.page-container{
  width: calc(100vw - 300px);
  margin: 0 auto 0;
}

@media (max-width: 1024px) {
  .page-container{
    width: calc(100vw - 100px);
    margin: 0 auto 0;
  }
}

.page-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paginator-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.paginator {
  max-width: 1250px;
}

@media (max-width: 415px) {
  .paginator-container{
    display: block;
    align-items: center;
  }
}


