<mat-card class="card-container" appHoverScale>
  <div class="image-container" [ngClass]="(isLoggedIn$ | async) ? 'image-container-logged' : 'image-container'">
    <img mat-card-image src="https://parade.com/.image/t_share/MTkwNTgxMTk3NzM5NzMwMDQ1/star-wars.jpg" alt="film" class="img">
  </div>
  <mat-card-content>
    <p class="title">{{ data?.title ? data.title : data.name }}</p>
  </mat-card-content>
  <mat-card-actions class="favorites">
    <button mat-stroked-button color="primary" class="bt" (click)="onDetailsClick()">Details</button>
    <button mat-stroked-button color="primary" class="bt2" (click)="onFullInfo()">Full Information</button>
    <button *ngIf="(isLoggedIn$ | async)" mat-raised-button color="primary" class="bt2">Add to Favorites</button>
  </mat-card-actions>
</mat-card>


