<div class="toolbar" role="banner">
  <span>STAR WARS | RAYNER</span>
  <div class="spacer"></div>
  <div class="button-container" >
      <a mat-button routerLink="/films" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Films</a>
  </div>
  <div class="button-container">
      <a mat-button routerLink="/people" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">People</a>
  </div>

  <div>
    <button *ngIf="!(isLoggedIn$ | async)" mat-stroked-button color="primary" type="button"
            class="submit-button" routerLink="/login">Log in</button>
  </div>
  <div>
    <button *ngIf="(isLoggedIn$ | async)" mat-stroked-button color="primary" type="button"
            class="submit-button" routerLink="/films" (click)="onSignOut()">Log out</button>
  </div>

  <div *ngIf="(isLoggedIn$ | async)" class="logo-container">
      <button mat-mini-fab color="primary" aria-label="user" routerLink="/user/{{userId}}" >
        <mat-icon>perm_identity</mat-icon>
      </button>
  </div>
</div>
