:root {
  --primary-color: #ffc107;
  --bg-dark: #262626;
  --text-light: #fff;
  --border: #494949;
  --light-color: #f8f9fa;
  --dark-color: #000;

  --card-h: 375px;
  --card-w: 350px;

  --image-container-h: calc(var(--card-h) - 88px);
  --image-container-logged-h: calc(var(--card-h) - 134px);
  --image-container-datails: 450px;
}

